In [13]:
import pandas as pd
import numpy as np
import plotly.express as px

sales = pd.read_csv("vgsales.csv")
sales

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [14]:
sales[["Year", "NA_Sales", "EU_Sales", "JP_Sales", "Other_Sales", "Global_Sales"]].groupby("Year").agg(sum)

        NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales
Year
1980.0     10.59      0.67      0.00         0.12         11.38
1981.0     33.40      1.96      0.00         0.32         35.77
1982.0     26.92      1.65      0.00         0.31         28.86
1983.0      7.76      0.80      8.10         0.14         16.79
1984.0     33.28      2.10     14.27         0.70         50.36
1985.0     33.73      4.74     14.56         0.92         53.94
1986.0     12.50      2.84     19.81         1.93         37.07
1987.0      8.46      1.41     11.63         0.20         21.74
1988.0     23.87      6.59     15.76         0.99         47.22
1989.0     45.15      8.44     18.36         1.50         73.45
1990.0     25.46      7.63     14.88         1.40         49.39
1991.0     12.76      3.95     14.78         0.74         32.23
1992.0     33.87     11.71     28.91         1.65         76.16
1993.0     15.12      4.65     25.33         0.89         45.98
1994.0     28.15     14.88     33.99         2.20         79.17
1995.0     24.82     14.90     45.75         2.64         88.11
1996.0     86.76     47.26     57.44         7.69        199.15
1997.0     94.75     48.32     48.87         9.13        200.98
1998.0    128.36     66.90     50.04        11.03        256.47
1999.0    126.06     62.67     52.34        10.05        251.27
2000.0     94.49     52.75     42.77        11.62        201.56
2001.0    173.98     94.89     39.86        22.76        331.47
2002.0    216.19    109.74     41.76        27.28        395.52
2003.0    193.59    103.81     34.20        26.01        357.85
2004.0    222.59    107.32     41.65        47.29        419.31
2005.0    242.61    121.94     54.28        40.58        459.94
2006.0    263.12    129.24     73.73        54.43        521.04
2007.0    312.05    160.50     60.29        77.60        611.13
2008.0    351.44    184.40     60.26        82.39        678.90
2009.0    338.85    191.59     61.89        74.77        667.30
2010.0    304.24    176.73     59.49        59.90        600.45
2011.0    241.06    167.44     53.04        54.39        515.99
2012.0    154.96    118.78     51.74        37.82        363.54
2013.0    154.77    125.80     47.59        39.82        368.11
2014.0    131.97    125.65     39.46        40.02        337.05
2015.0    102.82     97.71     33.72        30.01        264.44
2016.0     22.66     26.76     13.70         7.75         70.93
2017.0      0.00      0.00      0.05         0.00          0.05
2020.0      0.27      0.00      0.00         0.02          0.29

In [15]:
sales[["Genre", "NA_Sales", "EU_Sales", "JP_Sales", "Other_Sales", "Global_Sales"]].groupby("Genre").agg(sum)

              NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales
Genre
Action          877.83    525.00    159.95       187.38       1751.18
Adventure       105.80     64.13     52.07        16.81        239.04
Fighting        223.59    101.32     87.35        36.68        448.91
Misc            410.24    215.98    107.76        75.32        809.96
Platform        447.05    201.63    130.77        51.59        831.37
Puzzle          123.78     50.78     57.31        12.55        244.95
Racing          359.42    238.39     56.69        77.27        732.04
Role-Playing    327.28    188.06    352.31        59.61        927.37
Shooter         582.60    313.27     38.28       102.69       1037.37
Simulation      183.31    113.38     63.70        31.52        392.20
Sports          683.35    376.85    135.37       134.97       1330.93
Strategy         68.70     45.34     49.46        11.36        175.12